body {
  background: #333;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:200vh;
  margin-bottom:200vh;
  margin-left:200vh;
  margin-right:200vh;

}
video{
  height:80vh;
  width:80vw;
  position:absolute;
  align-items:center;
}
