body {
  background: #333;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:120vh;
  margin-bottom:120vh;
  margin-left:400vh;
  margin-right:400vh;

}
video{
  height:30vh;
  width:30vw;
  position:fiex;
  align-items:center;
}
